<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Store</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Log in
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cart">
                <span class="oi oi-cart" aria-hidden="true"></span> Cart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="products">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Products
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchases">
                <span class="oi oi-dollar" aria-hidden="true"></span> Purchases
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchaseproposal">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Purchase Proposals
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchaserecommendationranking">
                <span class="oi oi-cart" aria-hidden="true"></span> Recommendations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customerrecommendationranking">
                <span class="oi oi-people" aria-hidden="true"></span> Recommendations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
