@page "/cart"

@using BlazorServerFrontend.Services
@using BlazorServerFrontend.DTOs

@inject ProductsService ProductsService
@inject CartService CartService

<table class="table">
    <thead>
        <tr>
            <th class="center-align">Purchase Id</th>
            <th class="center-align">Purchase Date</th>
            <th class="center-align">Customer Id</th>
            <th class="center-align">Recommender Id</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (CartService.CartItems != null)
        {
            @foreach (var purchase in CartService.CartItems)
            {
                <tr>
                    <td class="center-align">@purchase.Product.Name</td>
                   
                </tr>
            }
        }
    </tbody>
</table>

@code {

}
