@page "/"

<h3>Hello in my shop!</h3>

<p>If you are here for the first time, please register:</p>
<button class="btn btn-primary" @onclick="NavigateToRegister">Register</button>

<p>If you are our customer already, please login:</p>
<button class="btn btn-primary" @onclick="NavigateToLogin">Login</button>

@code {
    // Dependency injection for NavigationManager
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    private void NavigateToRegister()
    {
        NavigationManager.NavigateTo("/register");
    }

    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}
