@page "/products"

@using BlazorServerFrontend.Services
@using BlazorServerFrontend.DTOs

@inject ProductsService ProductsService

<h1>Available Products</h1>

<table class="table">
    <thead>
        <tr>
            <th class="center-align">Id</th>
            <th class="center-align">Name</th>
            <th class="center-align">Product Type Name</th>
            <th class="center-align">Price</th>
            <th class="center-align"></th>
        </tr>
    </thead>
    <tbody>
        @if (products != null)
        {
            @foreach (var product in products)
            {
                <tr>
                    <td class="center-align">@product.Id</td>
                    <td class="center-align">@product.Name</td>
                    <td class="center-align">@product.ProductTypeName</td>
                    <td class="center-align">@product.Price</td>
                    <td class="center-align">
                        <button class="btn btn-primary" @onclick="() => AddToCart(product)">Dodaj do koszyka</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    private List<ProductResponse> products;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductsService.GetProductsAsync();
    }

    private void AddToCart(ProductResponse product)
    {
        // Implementacja dodawania produktu do koszyka
        // Możesz tu dodać logikę dotyczącą dodawania wybranego produktu do koszyka
    }
}
